<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Massively Multiplayer Online Rock, Paper, Scissors</title>
  </head>
  <body>
    <h1>MMORPS</h1>
    <table>
      <thead>
        <tr>
          <th>Player</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Human:</td><td> human_score</td></tr>   <!-- remmember to change human_score and computer_score for the right name -->
        <tr><td>Computer:</td><td> computer_score</td></tr>
      </tbody>
    </table>


      <form action="/choose" method="post">
        <h2>Choose!</h2>

        <input type="submit" name="choice" value="Rock">
        <input type="submit" name="choice" value="Paper">
        <input type="submit" name="choice" value="Scissors">
      </form>

  </body>
</html>
